/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* My css below*/
body {
    font-family: 'Raleway', 'Tahoma', 'Arial', sans-serif;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: white
}
.container {
    width: 1056px;
    margin:0 auto;
    overflow: hidden;

}






/*Style do headera*/




header {
    background-color: black;
    height: 30px;
    width: 100%;
    color: white;
}
header>div {
    display: flex;
    justify-content: space-between;
}
header>nav {
    display: flex;
    justify-content: flex-end;
}
.menu>ul {

    display: flex;
    list-style: none;
}

.menu>ul>li {
    line-height: 30px;
    padding: 0 20px;
}
.menu>ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
}
.littleMenu {
    position: relative;
    display: block;
    color: white;
    list-style: none;
    width: 70px;
    text-align: center;
    background-color: black;
    z-index: -2;
}
.littleSquare {
    left: calc(50% - 5px);
    top: -5px;
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: black;

}

.aboutCompany:hover .littleMenu {
    z-index: 1000;
}
.littleMenu:hover {
    opacity: 1;
}

.logo h1{
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 30px;
    font-weight: 500;
}
.logo h1 span {
    color: #23C9B3;
    font-weight: 700;
}




/*Style do sekcji pierwszej*/

.firstSection {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,171,171,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(171,171,171,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,171,171,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,171,171,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,171,171,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(171,171,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ababab', GradientType=0 );

}
.goLeft, .goRight {
    position: absolute;
    color: #23C9B3;
    font-size: 4em;
    top: 50%;
    z-index: 1000;

}
.sliderContainer {
    position: relative;
    overflow: hidden;
    height: 400px;

}
.goRight {
    right: 0;
}
.goRight:hover, .goLeft:hover {
    cursor: pointer;
}
.firstSection div article:first-of-type {
    width: 50%;
}
.firstSection div article:nth-of-type(2) {
    width: 50%;
}
.mainArticle>div {

    padding-top: 50px;
    width: 400px;
    height: 100%;
}
.mainArticle div h1 {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}
.mainArticle div h1 span {
    color: #23C9B3;
    font-weight: 700;
}
.mainArticle div p {
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
}
div.button {
    display: block;
    margin: 40px auto;
    width: 200px;
    height: 50px;
    background-color: #23C9B3;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    color: white;
}
div.button:hover {
    cursor: pointer;
}

.slider {
    position: absolute;
    top: 0;
    left:0;
    height: 500px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}
.visible {
    visibility: visible;
}

/*Style do drugiej sekcji z dwoma zdjęciami i artykułem*/

.firstSmallArticle, .secondSmallArticle, .thirdSmallArticle {
    display: block;
    width: 329px;
    height: 225px;
    margin-top: 20px;
    position: relative;

}
.firstSmallArticle div, .secondSmallArticle div {
    position: absolute;
    bottom: 5%;
    height: 20%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);

}
.firstSmallArticle h2, .secondSmallArticle h2 {
    font-size: 1.1em;
    width: 40%;
    margin-left: 5%;
    padding: 10px;
    border-bottom: 5px solid #23C9B3;
    font-weight: 500;
}
.firstSmallArticle {
    background-image: url("../images/box1_img.jpg");
    overflow: hidden;

}

.secondSmallArticle {
    background-image: url("../images/box2_img.jpg");
    overflow: hidden;
}
.imageText {
    transition: 1s;
}
.firstSmallArticle:hover .imageText, .secondSmallArticle:hover .imageText {
    transform: translateY(150%);
}
.thirdSmallArticle {
    border: 1px solid rgba(191, 191, 191, 0.52);
}
.sectionChairs {
    display: flex;
    justify-content: space-between;
}
.thirdSmallArticle h2 {
    font-size: 1.2em;
    padding: 10px;
    padding-left: 0;
    font-weight: 500;
    border-bottom: 5px solid #23C9B3;
    width: 40%;
    margin-left: 5%;
}
.thirdSmallArticle p {
    padding: 10px 10px 10px 0;
    font-size: 1em;
    margin-left: 5%;
}




/*Style do trzeciej sekcji z wyborem oferty(cennik)*/

#cennik {
    background-color: #F1F1F1;
    width: 100%;
    height: 700px;
    margin-top: 60px;
}
.articleHeader {
    padding: 20px 0 5px 0;
    width: 320px;
    font-size: 2em;
    border-bottom: 5px solid #23C9B3;
    text-transform: uppercase;
}
.rectangle {

    position: relative;
    width: 329px;
    height: 500px;
    background-color: #F9F9F9;
    border: 1px solid rgba(191, 191, 191, 0.52);
    margin-top: 100px;
}
div.round {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(191, 191, 191, 0.52);
    border-radius: 50%;
    background-color: #FEFEFE;
}
div.round div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #C4C4C4;
}
.cennikRectangles {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}
.roundPrice {
    font-weight: 700;
    color: #C0C0C0;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:50%;
    top: 25%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid rgba(191, 191, 191, 0.52);
}
.rectangle>h1 {
    text-align: center;
    margin-top: 50px;
    color:#23C9B3;
    font-size:1.3em;
    text-transform: uppercase;
}
.roundPrice h5 {
    padding-top: 8px;
    font-size: 0.4em;
}
.description {
    position: absolute;
    top: 55%;
    width: 100%;
}
.description div {
    color: #9f9c9c;
    width: 100%;
    height: 38px;
    text-align: center;
    line-height: 38px;
}
.description div:nth-child(1), .advance .description div:nth-child(3) {
    background-color: #E4E4E4;


}
.description div:nth-child(2), .advance .description div:nth-child(4) {
    background-color: #F1F1F1;

}
.rectangle.greenBox  {
    border: 1px solid #23C9B3;
    background-color: #23C9B3;

}
.greenBox>h1 {
    color: #F9F9F9;
}
.greenBox .roundPrice {
    color:#23C9B3;
    background-color: #F9F9F9;
}
.greenBox .round {
    border: none;
    background-color: #23C9B3;
}
.greenBox .round div {
    background-color: #F9F9F9;
}
.greenBox .description div:nth-child(1),
.greenBox .description div:nth-child(3) {
    background-color: #FFFFFF;
}
.greenBox .description div:nth-child(2) {
    background-color: #F1F1F1;
}
.rectangle button {
    text-transform: uppercase;
    background-color: #23C9B3;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 120px;
    height: 35px;
    border-radius: 10px;
}
.greenBox button {
    background-color: white;
    color: #23C9B3;
}


/*Style do części z formularzem kontaktowym*/
.formContact {
    height: 500px;
}
.inputArea {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.formContact .contactH1 {
    text-transform: uppercase;
    padding: 20px 0 5px 0;
    width: 320px;
    font-size: 2em;
    border-bottom: 5px solid #23C9B3;
}
.inputArea>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.inputArea>div:nth-child(2) {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /*margin-left: 30px;*/
}
.inputArea #name, .inputArea #email {
    box-sizing: border-box;
    font-size: 2.5em;
    color: #bfbfbf;
    width: 100%;
    height: 50px;
    border: 1px solid #23C9B3;
    margin-bottom: 30px;
    padding-left: 20px;
}
.inputArea textarea {
    border: 1px solid #23C9B3;
    resize: none;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    font-size: 2.5em;
    color: #bfbfbf;
    margin-bottom: 30px;
    padding: 20px 0 0 20px;

}
.inputArea label:nth-child(4) {
    position: absolute;
}
.imageRedChair {
    width: 100%;
    display: flex;
    justify-content: center;
}
.formContact img {
    transform: translateY(-30px);
    width: 60%;
    height: auto;

}

input[type=checkbox] {
    display: none;
}
.checkBox {
    width: 330px;
    height: 50px;
    font-size: 1.4em;
    display: inline-block;
    color: #bfbfbf;
    margin: 12px 20px 20px 40px;
    cursor: pointer;
    white-space: pre-line;
}
.checkBox:before {
    float: left;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background-color: #ffffff;
    text-align: center;
    color: #23C9B3;
    font-size: 22px;
    border: 1px solid #23C9B3;
    margin: 0 10px 20px 0;
}

input[type=checkbox]:checked + .checkBox:before {
    content: "\2714";
    font-size: 60px;
    color: #23C9B3;
}
#submit {

    width: 350px;
    height: 70px;
    border-radius: 10px;
    background-color: #23C9B3;
    margin-top: 10px;
    font-size: 2em;
    color: white;
    font-weight: 500;
    box-shadow: none;
}



/* Stopka*/

.footer {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.footer div:nth-child(1) {
    width: 60%;
}
.footer div:nth-child(1) p {
    font-size: 1.5em;
    color: #bfbfbf;
}
.socialMedia{
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
    padding-left: 170px;
}
.socialMedia img {
    width: 40px;

}
.logo2 {

    text-transform: uppercase;
    color: #A0A0A0;
    letter-spacing: 1px;
}
.logo2 span {
    font-weight: 700;
}
